@import "../../../global/styles/global.scss";

h1 {
  margin: 0;
}

.title{
  color: $base-color;
}

.python-div {
  background-color: $base-background;
  margin: 0;
  padding: 1rem;
}

.intro-p{
  padding: 1rem 0;
  margin: 0;
}

.project-card{
  padding: 1rem 0;
}

.projects-container {
  width: 75%;
  margin: 0 auto;
}

.l-img{
  height: auto;
  width: 100%;
  padding: 2rem 0;
}