@import "../../../global/styles/global.scss";

h1 {
  margin: 0;
}

.title{
  color: $base-color;
}

.python-div {
  background-color: $base-background;
  margin: 0;
  padding: 1rem;
}

.python-section{
  padding: 20px;
}

.python-welcome{
  padding: 25px;
}

.projects-container {
  width: 75%;
  margin: 0 auto;
}

.poroject-Card {
  display: flex;
  margin: 75px 0;
}

.padding-small{
  padding: 75px;
}

.l-img{
  height: 200px;
  margin: auto;
}

.l-div{
  width: 35%;
  padding-right: 10px;
  // background-color: $light-background;
}

.r-div{
  width: 55%;
  padding-left: 5%;
  // background-color: $light-background;
}