$base-color: #39aeab;
$transparent-base: rgba($base-color, 0.88);
$base-white: #dedede;
$dark-white: #a5a5a5;
$base-background: #121111;
$light-background: #222222;

$border-radius: 0.25rem !default;
$box-shadow: 0 0.5rem 1rem rgba($base-background, 0.15) !default;

body html{
    background-color: $base-background;
}

*{
    margin: 0;
    padding: 0;
}