@import '../../../global/styles/global.scss';

*{
    margin: 0;
    padding: 0;
}

.cv-div{
    position: relative;
    justify-content: center;
    background-color: $base-background;
    padding: 1rem;
    padding-bottom: 2rem;
}

.cv-header{
    display: flex;
    justify-content: space-between;
}

.cv-title{
    padding: 1rem 0;
    color: $base-white;
}

.cv-subtitle{
    color: $base-color;
    margin: 0;
    padding-top: 1rem;
}

.cv-body{
    display: flex;
}

.cv-experience{

}

.cv-skills{

}

.cv-tasks{
    padding: 0.5rem 2rem;
    color: $dark-white;
}

.cv-task{
    list-style: none;
        
}

ul li::before{
    content: "\2022";
    color: $base-color;
    font-weight: bold;
    display: inline-block; 
    width: 1rem;
    margin-left: -1.3rem;
    font-size: 20px;
}


.ec{
    padding: 2rem;
    border-radius: 20px;
    margin: 1rem;
    background-color: $light-background;
    margin-bottom: 0;
}

.cv-company{
    color: $base-white;
}


.cv-position{
    color: $base-color;
}

.white-hr{
    width: 90%;
    margin: auto;
    border-top: 5px dotted $base-color;
}

.dark-white{
    color: #a5a5a5c7;
}

.d-btn{
    padding: 0;
}