@import '../../../global/styles/global.scss';

.navibar-div p{
    margin: 0px;
}

.navibar-div{
    background-color: $base-color;
    text-align: right;
    padding-right: 3%;
    font-size: 1.3rem;
    color: $base-white;
}

.navibar-icons{
    margin: 0px 1%;
    color: $base-white;
    color: rgba($color: #d4fffa, $alpha: 0.75);
}

.navibar-icons:hover{
    color: rgba($color: #fff, $alpha: 1.0);
}